# Project management
notes/*

# Logs
logs/

# Virtual env
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Poetry
.poetry/

# Env files
.env
.env.local

# Cache and build files
build/
dist/
*.egg-info/
*.egg

# Docker
docker-compose.override.yml

# Code Editor
.vscode/

# Test cache
pytest_cache/

# Documentation build
docs/_build/
